/* Common to all charts */

line.axis {
  stroke: #60646c;
  stroke-width: 2px;
}
line.gridline {
  stroke: #c1c3c8;
  stroke-width: 0.5px;
}

rect.header {
  fill: #eaebec;
}

text {
  font-family: "Source Sans Pro", sans-serif;
}

text.chart-title {
  text-anchor: middle;
  font-size: 30pt;
  font-weight: 600;
  fill: #303236;
}
text.chart-subtitle {
  text-anchor: middle;
  font-size: 16pt;
  font-weight: 300;
  fill: #303236;
}

text.header {
  font-size: 12pt;
  font-weight: 600;
  fill: #303236;
}


/* Specific to nights away and home chart */

.night-away-business {
  fill: #0077bb;
}
.night-away-personal {
  fill: #33bbee;
}
.night-home {
  fill: #ee7733;
}

.year-0 {
  fill: #eaebec;
}
.year-1 {
  fill: #f4f5f6;
}

rect.highlight-away-business {
  fill: #0077bb;
  fill-opacity: 0.22;
}
rect.highlight-away-personal {
  fill: #33bbee;
  fill-opacity: 0.22;
}
rect.highlight-home {
  fill: #ee7733;
  fill-opacity: 0.22;
}

text.header-away {
  text-anchor: end;
}
text.header-home {
  text-anchor: start;
}
text.note {
  fill: #303236;
  font-size: 12pt;
}
text.note-start {
  text-anchor: start;
}
text.note-end {
  text-anchor: end;
}
text.note-sub {
  font-size: 10pt;
  font-weight: 300;
}

text.year-label {
  fill: #8f939b;
  font-size: 10pt;
  font-weight: 400;
}

tspan.header-sub {
  font-weight: 700;
}